


<link  href="./App_Server/public/css/table.css"/>
<link  href="./App_Server/public/css/bootstrap.min.css"/>
<link href="./App_Server/public/css/bootstrap-theme.min.css"/>
<body>

<h1>EJS Şablon Başlık</h1>
<div class="container">



<%- body%>
</div>


<script type="text/javascript" src="./App_Server/public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./App_Server/public/js/bootstrap.min.js"></script>
</body>



