
<head>
    <meta charset="UTF-8">
    <title>Makale Atama</title>
    <link rel="stylesheet" href="/App_Server/public/CSS/table.css">
    <script type="text/javascript" src="MakaleAtama.js"></script>
</head>

<div id="myform">

<body>
        <div><b>Akademik Dergi Yönetim Sistemi</b></div>
        <ul>
  <li><a class="active" href="/atama/MakaleAtama">Makale Atama</a></li>
  <li><a href="/atama/MakaleAtamaList">Makaleler</a></li>
  <li><a href="/registerList">Uye Islemleri</a></li>
  <li><a href="Yoneticiler.html">Yonetici Islemleri</a></li>
  <li><a href="atama/MakaleAtamaList">Icerik Yonetimi</a></li>
  <li><a href="MakaleRaporlari.html">Makale Raporları</a></li>
</ul>

    </body>
    <!--
<input type="button" id="makaleRaporlari" value="Makale Raporları >" onclick="Javascript:function()">
<script type="text/javascript">
    document.getElementById("makaleRaporlari").onclick = function () {
        
        location.href = 'MakaleRaporlari.html';
    };
</script>
-->
<div class="makale">
    
    <form  action="MakaleAtama" method="POST">
    
        <br> </br>
        <label for="atanan"><b>Atanan:</b></label>
        <select name="atanan" id="atanan">
                    <option value="Hakemde">Hakemde</option>
                    <option value="Editorde">Editorde</option>
                    <option value="Editorde">BasEditorde</option>
                </select>
      
    <br> </br>
    <label for="alani"><b>Alanı</b></label>
         <input type="text" id="alani" name="alani" placeholder="Alanı">
    <br> </br>
   
    <label for="alt_alani"><b>Alt Alanı</b></label>
        <input type="text" id="altalan" name="altalani" placeholder="Alt Alanı">
    <br> </br>
    
    <label for="adsoyad"><b>Ad Soyad</b></label>
         <input type="text" id="adsoyad" name="adsoyad" placeholder="Ad Soyad">
    
    <br> </br>
    <label for="baslik"><b>Baslik</b></label>
         <input type="text" id="baslik" name="baslik" placeholder="Baslik">
    
    <br> </br>
    <a href="MakaleAtama">Makale Yukle</a></a>
    <label for="not"><b>NOT:</b></label>
        <textarea rows="4" cols="50" id="not"></textarea>
        
            <input type="submit" class="btn btn-primary"value="ATA >">
 
</form>
</div>

