<html>
    <head>
        <link rel="stylesheet" href="/App_Server/public/CSS/table.css" type="text/css"/>

        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><b>Akademik Dergi Yönetim Sistemi</b></div>
        <ul>
            <li><a class="active" href="/atama/MakaleAtama">Makale Atama</a></li>
            <li><a href="/atama/MakaleAtamaList">Makaleler</a></li>
            <li><a href="/registerList">Uye Islemleri</a></li>
            <li><a href="Yoneticiler.html">Yonetici Islemleri</a></li>
            <li><a href="atama/MakaleAtamaList">Icerik Yonetimi</a></li>
            <li><a href="MakaleRaporlari.html">Makale Raporları</a></li>
          </ul>
 <table id="Makaleler"  border="1" cellpadding="5" >
    <tr>
       
        <td>&nbsp;</td>
        <th><b>ID</b></th>
        <th><b>Kullanıcı No</b></th>
        <th><b>Kullanıcı Adı</b></th>
        <th><b>Yazarlar</b></th>
        <th><b>Düzeltme Tarih</b></th>
        <th><b>Dosya</b></th>
        <th><b>Başlık</b></th>
        <th><b>Durum</b></th>
        <th><b>Tarih-Cilt.Sayı</b></th>
       
    </tr>
    
    <tr>
     <td></td>  
    <td>1</td>
    <td>320</td>
    <td>Ayşenur GÖKDEMİR</td>
    <td>Elif Aybike ASLAN, Esra YURDUGÜL, Betül DÖNMEZ</td>
    <td>30.11.18</td>
    <td></td>
    <td>Makine Öğrenmesi</td>
    <td><a>Aktif</a></td>
    <td>30.11.18-4</td>
  </tr>
  
    <tr>
     <td></td>  
    <td>2</td>
    <td>326</td>
    <td>Elif Aybike ASLAN</td>
    <td>Elif Aybike ASLAN, Esra YURDUGÜL, Betül DÖNMEZ</td>
    <td>25.11.18</td>
    <td></td>
    <td>Yapay Zeka</td>
    <td><a>Aktif</a></td>
    <td>23.11.18-4</td>
  </tr>
  
  <tr>
     <td></td>  
    <td>3</td>
    <td>123</td>
    <td>Esra YURDUGÜL</td>
    <td>Elif Aybike ASLAN, Esra YURDUGÜL, Betül DÖNMEZ</td>
    <td>03.11.18</td>
    <td></td>
    <td>Derin Öğrenme</td>
    <td><a>Aktif</a></td>
    <td>30.11.18-4</td>
  </tr>
  <tr>
     <td></td>  
    <td>1</td>
    <td>326</td>
    <td>Betül DÖNMEZ</td>
    <td>Elif Aybike ASLAN, Esra YURDUGÜL, Betül DÖNMEZ</td>
    <td>30.11.18</td>
    <td></td>
    <td>Görüntü İşleme</td>
    <td><a>Aktif</a></td>
    <td>30.11.18-4</td>
  </tr>
</table>
&nbsp;<br/>
    </body>
</html>
